/* Diseño para el acceso */

:root {
  --dark-bg: #0b141a;
  --card-bg: #112240;
  --accent-blue: #2d89ef;
  --text-white: #ffffff;
  --text-gray: #8892b0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--dark-bg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputs {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}

.spans {
  font-family: "Funnel Sans";
}

.form input::placeholder {
    color: #ffffff;
    font-family: "Funnel Sans";
}

.login-card {
  background-color: var(--card-bg);
  width: 100%;
  max-width: 370px;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.login-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 2px solid var(--accent-blue);
  object-fit: cover;
}

h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.subtitle {
  color: var(--accent-blue);
  font-size: 14px;
  margin-bottom: 30px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 14px 25px;
  border-radius: 50px;
  border: 1px solid #233554;
  background-color: #1a2a4a;
  color: white;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: var(--accent-blue);
  background-color: #1e2d4d;
}

/* Botón redondeado */
.btn-login {
  width: 100%;
  padding: 14px;
  border-radius: 50px;
  border: none;
  background-color: var(--accent-blue);
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.btn-login:hover {
  background-color: #1c73d4;
  transform: translateY(-2px);
}

/* Footer y Mensajes */
.login-footer {
  margin-top: 25px;
  font-size: 13px;
}

.login-footer a {
  color: var(--accent-blue);
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
}

.login-footer p {
  color: var(--text-gray);
}

.mensaje-error {
  margin-top: 15px;
  font-size: 12px;
  color: #ff4d4d;
  font-family: "Funnel Sans";
}
